* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.container {
    width: 100%;
    height: 3100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h6 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    top: 3050px;
    right: 500px;
}

/*vertica */
.vertical {
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.texts {
    font-family: 'DM Serif Text';
    font-size: 20px;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 50px;
    height: 100vh;
    text-align: center;
}
.texts h3:hover{
    text-decoration: underline;
}
#h1 {
    color: white;
    opacity: 1;
}


/*pirveli gverdi */
.pirveli {
    background-image: url('images/POTO19.jpg');
    background-size: cover;          /* Makes image cover the entire container */
    background-position: center;     /* Centers the background image */
    background-repeat: no-repeat;    /* Prevents image from repeating */
    position: absolute;
    top: 0;
    right: 0;
    width: 80.3%;
    height: 770px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gabriela', serif;
}
.texts1 {
    text-align: center;
    color: #000;
    z-index: 1;              /* Ensures text stays on top */
}
.texts1 h1 {
    margin: 0;
    font-size: 2.5em;
}
.texts1 h3 {
    margin: 0;
    font-size: 1.5em;
}
/*meore gverdi */
.meore {
    position: absolute;
    top: 770px;
    right: 0px;
    width: 80.3%;
    height: 770px;
    background-color: rgb(96, 96, 96);
    font-family: 'Gabriela';
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    color: rgb(240, 229, 229);
    
}
.erti{
    height: 500px;
    width: 380px;
    
}
.ori{
    height: 500px;
    width: 380px;
}
.sami{
    height: 500px;
    width: 380px;
}
.yuti{
    height: 450px;
    width: 1000px;
    background: transparent;
    margin-top: 30px;
    margin-left: 60px;
    gap: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Kumar One';
}
.yuti img{
    align-items: flex-start;
    height: 350px;
    width: 300px;
    background-size: cover;          /* Makes image cover the entire container */
    background-position: center;     /* Centers the background image */
    background-repeat: no-repeat; 
}
.yuti .erti{
    font-size: 15px;
}

/*mesame gverdi */
.mesame{
    position: absolute;
    top:1540px;
    right: 0px;
    width: 80.3%;
    height: 500px;
}

.erti1 {
    color: black;
    background-color: white;
    display: flex; /* Flexbox-ის ჩართვა */
    align-items: stretch; /* ორივე ელემენტი ერთნაირად დაიჭერს სიმაღლეს */
    gap: 20px; /* დაშორება box-სა და ტექსტს შორის */
    padding: 20px;
    text-align: center;

}

.box1 {
    height: 400px;
    width: 800px;
    background-image: url('images/poto23.jpg');
    background-size: cover;          /* Makes image cover the entire container */
    background-position: center;     /* Centers the background image */
    background-repeat: no-repeat;    /* Prevents image from repeating */
}


.erti1 .text1 {
    font-family: 'Gabriela';
    font-size: 20px;
    margin-top: 30px;
    flex: 1; /* ტექსტის ნაწილს მეტ სივრცეს მისცემს, ვიდრე box-ს */
    display: flex;
    flex-direction: column;
    justify-content: center; /* ვერტიკალური გასწორება */
}
.erti1 button{
    margin: auto;
    align-items: center;
    width: 50%;
    padding: 12px 30px;
    font-size: 1rem;
    background: #333;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
/*meotxe*/
.meotxe{
    position: absolute;
    top:2020px;
    right: 0px;
    width: 80.3%;
    height: 900px;
    background-color: rgb(96, 96, 96);
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Kumar one';
}


.erti11{
    height: 500px;
    width: 380px;
    
}
.ori22{
    height: 500px;
    width: 380px;
}
.sami33{
    height: 500px;
    width: 380px;
}
.yuti1{
    height: 450px;
    width: 1000px;
    background: transparent;
    margin-top: 30px;
    margin-left: 60px;
    gap: 80px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Kumar One';
    margin-top: 90px;
}
.yuti1 img{
    align-items: flex-start;
    height: 450px;
    width: 300px;
    background-size: cover;          /* Makes image cover the entire container */
    background-position: center;     /* Centers the background image */
    background-repeat: no-repeat;
}
.yuti1 .erti{
    font-size: 15px;
}
